.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  color: black;
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.menu{
  width: 400px;
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 20px;
}

ul li a{
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman';
  font-weight: bold;
  transition: 0,4s ease-in-out;
}

ul li a:hover{
  color:white;
}

.search{
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 2px solid black;
  margin-top: 13px;
  color: beige;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn{
  width: 100px;
  height: 40px;
  background: transparent;
  border: 2px solid black;
  margin-top: 13px;
  color: white;
  font-size: 16px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline: none;
}

div.gallery {
  padding: 20px;
  margin: 5px;
  border: 1px solid #060606;
  float: left;
  width: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 150px;
}

div.description {
  padding: 15px;
  text-align: center;
}
